<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Portfolio</title>
    <link href="https://fonts.googleapis.com/css2?family=Space+Mono&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-light bg-light">
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="{{ url_for('about') }}">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('projects') }}">Projects</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('resume') }}">Resume</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link-a" href="#">Contact</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="content">
        <h1 id="typed-text3"></h1>
        <h2 id="typed-text2">
            Kireeth.Karunakaran@Outlook.com
        </h2>
        <h2 id="typed-text2">
            (470) 263-0597
        </h2>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const phrases = ["Contact Me"];
            let currentPhrase = 0;
            let i = 0;
            const typedText = document.getElementById("typed-text3");
            const cursor = document.createElement('span');
            cursor.className = 'cursor';
            cursor.innerHTML = '|';
            typedText.appendChild(cursor);

            function typeWriter() {
                if (currentPhrase < phrases.length) {
                    if (i < phrases[currentPhrase].length) {
                        cursor.insertAdjacentHTML('beforebegin', phrases[currentPhrase].charAt(i));
                        i++;
                        setTimeout(typeWriter, 20); // Reduced delay
                    } else if (currentPhrase < phrases.length - 1) {
                        cursor.insertAdjacentHTML('beforebegin', '<br>');
                        i = 0;
                        currentPhrase++;
                        setTimeout(typeWriter, 10);
                    }
                }
            }

            typeWriter();

        });
    </script>
</body>
</html>
